.container {
    background: #f8f6f6;
    height:1550px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.big_text{
    font-size: 30px;
    color: #f8f6f6;
}
.small_text{
    font-size: 17px;
    color: #f8f6f6;
}
.up{
    background: #2269ba;
    width: 900px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.center{
    width: 900px;
    height: 300px;
    box-sizing: border-box;
    margin: 15px;
    display: flex;
    justify-content: space-between;
}
.box{
    background: #16457a;
    width: 290px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.down {
    background: #2269ba;
    width: 900px;
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
}